body {
    color: white;
    background-color: #3E4257;
    margin: 0 auto;
}

#boxes {
    text-align: right;
}

.box {
    display: inline-block;
    
    width: 2.2rem;
    height: 2.2rem;

    border: 1px solid #8891BD;
    margin: .3rem;
    padding: .3rem;
}

.selected {
    background-color: #636a86;
}
