body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    font-size: 1.2rem;
    color: white;
    
    background-color: #3E4257;
    margin: 0 auto;
}

/* DX */
.description {
    position: relative;
}
.credit {
    position: absolute;
    bottom: 0;
}

i:hover {
    color: white;
    transition: .3s;
}

/* SX */
#boxes {
    text-align: right;
}

.box {
    display: inline-block;
    
    width: 2.2rem;
    height: 2.2rem;

    border: 1px solid #8891BD;
    margin: .3rem;
    padding: .3rem;
}

.selected {
    background-color: #636a86;
    transition: .3s;
}
